# Ignore database files
*.sqlite3

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore virtual environment
/venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Django secret key
*.secret_key
